@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext&display=swap");
body {
  font: 100% Lato, sans-serif;
}

* {
  margin: 0;
}

#App {
  display: table;
  overflow: hidden;
}

#NavBar {
  display: table-cell;
  width: 20%;
  height: 100%;
  background-color: #0E1C2D;
  padding: 3.5rem 0rem 0rem 0rem;
  position: fixed;
}
#NavBar .profile {
  display: block;
  border-radius: 50%;
  border: 0.313rem solid white;
  width: 10.75rem;
  height: 10.75rem;
  object-fit: cover;
  margin: auto;
}
#NavBar .title {
  margin: auto;
  text-align: center;
  color: white;
  font-size: 1.9rem;
  margin-top: 1rem;
}
#NavBar .subtitle {
  margin: auto;
  text-align: center;
  color: #b8b8b8;
  font-size: 0.96rem;
  font-weight: 200;
  margin-top: 0.5rem;
}
#NavBar ul {
  list-style-type: none;
  color: white;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
  padding: 0;
}
#NavBar ul li {
  margin-top: 1.5rem;
  display: inline-block;
}
#NavBar ul #Link {
  cursor: pointer;
}
#NavBar ul #Link::after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 2px solid white;
  transition: all 0.2s ease-in-out;
}
#NavBar ul #Link:hover::after {
  width: 100%;
}
#NavBar ul .active {
  color: white;
  border-bottom: 2px solid white;
}

#Content {
  display: table-cell;
  width: 80%;
}
#Content #Home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1f2b42;
  color: white;
}
#Content #Home #heading {
  margin-left: 3rem;
  margin-top: 12rem;
  font-size: 6.5rem;
  font-weight: bolder;
  text-shadow: 5px 5px #558ABB;
  z-index: 2;
}
#Content #Home #greeting {
  margin-top: 2rem;
  margin-left: 3.5rem;
  margin-right: 20rem;
  font-size: 1.7rem;
  font-weight: lighter;
  z-index: 2;
}
#Content #About {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0f244d;
  color: white;
}
#Content #About #about-title {
  margin-left: 4rem;
  margin-top: 5rem;
  font-size: 3.5rem;
  font-weight: bolder;
  text-shadow: 2px 2px #558ABB;
}
#Content #About #about-section {
  margin-left: 4rem;
  margin-top: 2rem;
  margin-right: 30rem;
  font-size: 1.5rem;
  font-weight: lighter;
}
#Content #Experience {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #2f446d;
  color: white;
}
#Content #Experience #experience-title {
  margin-left: 4rem;
  margin-top: 5rem;
  font-size: 3.5rem;
  font-weight: bolder;
  text-shadow: 2px 2px #558ABB;
}
#Content #Experience #Timeline {
  width: 40rem;
  height: 20rem;
  margin-top: 3rem;
  margin-left: 0rem;
  font-weight: bolder;
}
#Content #Experience #ExperienceCard {
  display: table;
  background-color: white;
  border-radius: 7px;
  width: 19rem;
  box-shadow: 3px 3px #558ABB;
  margin-bottom: 0.5rem;
  transition: all 0.1s ease-in-out;
}
#Content #Experience #ExperienceCard #Logo {
  display: table-cell;
  width: 10%;
}
#Content #Experience #ExperienceCard #Logo #companyLogo {
  margin: 0.5rem;
  width: 5rem;
  height: 5rem;
}
#Content #Experience #ExperienceCard #companyInfo {
  display: table-cell;
  top: 5;
  width: 90%;
  color: black;
}
#Content #Experience #ExperienceCard:hover {
  cursor: pointer;
  box-shadow: 6px 6px #558ABB;
}
#Content #Projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #40546c;
  color: white;
}
#Content #Projects #projects-title {
  margin-left: 4rem;
  margin-top: 5rem;
  font-size: 3.5rem;
  font-weight: bolder;
  text-shadow: 2px 2px #558ABB;
}
#Content #Contact {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #000c24;
  color: white;
}
#Content #Contact #contact-title {
  margin-left: 4rem;
  margin-top: 5rem;
  font-size: 3.5rem;
  font-weight: bolder;
  text-shadow: 2px 2px #558ABB;
}
#Content #Contact #contact-links {
  margin-top: 9rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
#Content #Contact #contact-links #github-box {
  opacity: 0.7;
}
#Content #Contact #contact-links #github-box:hover {
  opacity: 1;
}
#Content #Contact #contact-links .github {
  height: 13rem;
  width: 13rem;
}
#Content #Contact #contact-links .github:hover {
  opacity: 1;
}
#Content #Contact #contact-links #github-text {
  text-align: center;
  font-weight: lighter;
  font-size: 1.6rem;
}
#Content #Contact #contact-links #linkedin-box {
  opacity: 0.7;
}
#Content #Contact #contact-links #linkedin-box:hover {
  opacity: 1;
}
#Content #Contact #contact-links .linkedin {
  height: 13rem;
  width: 13rem;
  filter: invert(1);
}
#Content #Contact #contact-links .linkedin:hover {
  opacity: 1;
}
#Content #Contact #contact-links #linkedin-text {
  text-align: center;
  font-weight: lighter;
  font-size: 1.6rem;
}
#Content #Contact #contact-links #mail-box {
  opacity: 0.7;
  cursor: pointer;
}
#Content #Contact #contact-links #mail-box:hover {
  opacity: 1;
}
#Content #Contact #contact-links .mail {
  height: 13rem;
  width: 15rem;
}
#Content #Contact #contact-links .mail:hover {
  opacity: 1;
}
#Content #Contact #contact-links #mail-text {
  text-align: center;
  font-weight: lighter;
  font-size: 1.6rem;
}
#Content #Contact #contact-links a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=App.css.map */
