@import url('http://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --condiv-flex:6.2;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.4rem;
  --typing-font:3rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.particles {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.condiv {
  height: 100vh;
  width: 100vw;
  background-color: #1f2b42;
  flex:var(--condiv-flex)
}

nav {
  padding: 3.75rem 2.175rem 0rem 2.175rem ;
  background-color: #0E1C2D;
  position: sticky;
}

.profile {
  display: block;
  border-radius: 50%;
  border: 0.313rem solid white;
  width: 10.75rem;
  height: 10.75rem;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.563rem;
}

.title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.625rem;
  padding: 0.313rem;
  text-align: center;
  color: white;
  font-size: 1.9rem;
}

.subtitle {
  margin-left: auto;
  margin-right: auto;
  padding: 0.125rem;
  text-align: center;
  color: #b8b8b8;
  font-size: 0.96rem;
  font-weight: 200;
}

nav ul
{
  font-size:var(--fontsize-nav);
  list-style-type: none;
  text-decoration: none;
  color: white;
}

nav ul li
{
  margin-top: 2.813rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  border-radius: 0.375rem;
  padding: 0.5rem 3.125rem 0.5rem 3.125rem;
}

a:hover {
  background-color: #1976e0;
}

.home, .about, .contact, .projects {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: white;
}